$font-stack: Helvetica, sans-serif;
$primary-color: white;
$background-color: black;
$background-image: url('../images/blur.jpg');
$background-transparent: rgba(0, 0, 0, .5);
$border-radius: 5px;
$background-clear: rgba(0, 0, 0, 0);
$background-favorite: url('../images/pokeball.png');
$gold-color: gold;
$medium-font: 36px;
$large-font: 64px;
$small-font: 18px;
$padding-large: 36px;
$padding-small: 6px;

body {
	background: $background-image;
	background-size: 100%;
	color: $primary-color;
  font: 100% $font-stack;
  text-shadow: 2px 2px $background-color;
	
	// Header
  .jumbotron {
  	background-color: $background-transparent;
  	color: $primary-color;
  	font-size: $large-font;
  	margin-bottom: $padding-small;
  }
	// songPlayer.html => add a new song link
  #new-song {
  	color: $primary-color;
  	font-size: $small-font;
  	float: right;
  	margin-bottom: $padding-small;
  }
	
	// Lyrics, Welcome padding
  .sub-header {
  	font-size: $medium-font;
  	padding-top: $padding-large;
  }
	
	// Login Page Welcome Heading
  .sub-header#welcome {
  	font-size: $large-font;
  	margin-bottom: $padding-small;
  	text-align: center;
  }
	
	// Login Page, Login Form
  #login {
  	background-color: $background-transparent;
  	border-radius: $border-radius;
  	padding-top: $padding-large;
  	padding-bottom: $padding-large;
  	text-align: center;
  }
	
	// Login Page, Signup & Login buttons
	#login-btn {
		margin-top: $padding-large;
		margin-bottom: $padding-small;
	}

	#signup-btn {
		margin-top: $padding-small;
		margin-bottom: $padding-large;
	}

	#forgot-password {
		padding-bottom: $padding-large;
	}

	// Music Page, Lyrics box
  .content-box {
  	background-color: $background-transparent;
  	border-radius: $border-radius;
  	font-size: $small-font;
  	padding-top: $padding-small;
  	padding-bottom: $padding-small;
  	text-align: center;
  }
	
	// Music Page, Buttons
  #buttons {
  	margin-top: $padding-large;
		text-align: center;
  }

  .musicButtons {
  	margin-bottom: $padding-large;
  	font-size: $medium-font;
  	padding-bottom: $padding-small;
  	padding-top: $padding-small;
  }

  .addPlaylist {
  	border: none;
  	background-color: $background-clear;
  	background-image: $background-favorite;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 100px;
  	color: $gold-color;
  	font-size: $large-font;
  	padding: 10px 0 10px 0;
  	text-shadow: 3px 3px $background-color;

		&:active {
			background-color: white;
		}
		&:focus{
			color:white;
		}
  }

  #playlist,
  #dropdown {
  	background-color: $gold-color;
  	color: $background-color;
  	a {
  		color: black;
  		font-size: $medium-font;
  		text-shadow: none;
  	}
  }
	
	.user {
		color: $gold-color;
		margin-top: $padding-large;
	}

  #comment {
  	font-size: $small-font;
  }

  #alert-message {
    text-shadow: none;
  }

  .login {
    color: $gold-color;
    font-size: $small-font;
    float: right;
    padding: $padding-small;
    text-shadow: none;
  }
  #lyrics {
    white-space: pre-wrap;
  }
}
