<!DOCTYPE html>
<html>
	<head>
		<title>Urban Poet - Song Player</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div class="container-fluid">
			<header>
				<h1 class="jumbotron">Urban Poet</h1>
				<ul class="nav navbar-nav">
					<% if(currentUser) {%>
						<li><a href="/logout">Logout</a></li>
					<% } else { %>
						<li><a href="/login">Login</a></li>
						<li><a href="/signup">Signup</a></li>
					<% } %>
				</ul>
			</header>